#!ipxe
###
### boot.lyve.colo.seagate.com custom menu example
###
#http://repo/rhel/boot/8.3/x86_64/vmlinuz... ok
#"Loading RHEL 8"
#http://repo/rhel/boot/8.3/x86_64/vmlinuz... ok
#http://repo/rhel/boot/8.3/x86_64/initrd.img... ok
#initrd=initrd... No such file or directory (http://ipxe.org/2d0c618e)
#Could not boot: No such file or directory (http://ipxe.org/2d0c618e)
#Could not boot: No such file or directory (http://ipxe.org/2d0c618e)
#HTTP has failed, localbooting...
#
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-3w-9xxx-2.26.02.014-5.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-3w-sas-3.26.02.000-5.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-3w-xxxx-2.26.02.003-4.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-aacraid-1.2.1-4.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-arcmsr-1.40.00.05-20180309.4.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-hpsa-3.4.20-4.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-isci-1.2.0-6.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-megaraid_mbox-2.20.5.1-4.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-megaraid_sas-07.714.04.00-1.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-mlx4-4.0-4.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-mpt3sas-34.100.00.00-1.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-mptfc-3.04.20-4.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-mptsas-3.04.20-4.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-mptspi-3.04.20-4.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-mvsas-0.8.16-3.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-pata_amd-0.4.1-4.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-pata_atiixp-0.4.6-1.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-pata_jmicron-0.1.5-1.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-pata_sis-0.5.2-4.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-pata_via-0.3.4-2.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-sata_nv-3.5-3.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-sata_sil-2.4-4.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-sata_sil24-1.1-2.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-sata_sis-1.0-4.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-sata_uli-1.3-3.el8_3.elrepo.iso
#inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-sata_via-2.6-2.el8_3.elrepo.iso
#

:custom
clear custom_choice
menu RHEL Options:
item --gap This is the first sub menu
item --key 1 rhel84_autodisk ${space} 1) RHEL 8.4 via AutoDisk Select
item --key 2 rhel83_autodisk ${space} 2) RHEL 8.3 via AutoDisk Select
item --key 3 rhel83_driver_disk ${space} 3) RHEL 8.3 via AutoDisk & Driver Disks
item --gap Other Options:
item option_two ${space} Loading an ISO
item --key 4 ra_ubuntu ${space} 4) Upstream ubuntu releases.
item --key 5 suse_15sp2 ${space} 5) SuSE SLES 15 SP2
item ra_archlinux ${space} 6) Install Arch Linux
item option_four ${space} This is option four
choose custom_choice || goto custom_exit
echo ${cls}
echo "Choose ${custom_choice}"
goto ${custom_choice}
goto custom_exit

:rhel84_autodisk
echo "Bootstrapping RHEL 8.4 AutoDiskSelect"
imgstat
imgfree
kernel http://repo/rhel/pkg/8.4/rhel-8.4-x86_64-dvd/images/pxeboot/vmlinuz initrd=initrd.img repo=http://repo.lyve.colo.seagate.com/rhel/pkg/8.4/rhel-8.4-x86_64-dvd/ ksdevice=link devfs=nomount ip=dhcp inst.text inst.sshd console=ttyS0,115200n8 ks=http://repo.lyve.colo.seagate.com/repo/rhel8.4-ks-autodisk.cfg
initrd http://repo/rhel/pkg/8.4/rhel-8.4-x86_64-dvd/images/pxeboot/initrd.img
boot || goto custom_exit

:rhel83_autodisk
echo "Bootstrapping RHEL 8.3 AutoDiskSelect"
imgstat
imgfree
kernel http://repo/rhel/pkg/8.3/rhel-8.3-x86_64-dvd/images/pxeboot/vmlinuz initrd=initrd.img repo=http://repo.lyve.colo.seagate.com/rhel/pkg/8.3/rhel-8.3-x86_64-dvd/ ksdevice=link devfs=nomount ip=dhcp inst.text inst.sshd console=ttyS0,115200n8 ks=http://repo.lyve.colo.seagate.com/rhel/rhel8.3-ks-autodisk.cfg
initrd http://repo/rhel/pkg/8.3/rhel-8.3-x86_64-dvd/images/pxeboot/initrd.img
boot || goto custom_exit

:rhel83_driver_disk
echo "Bootstrapping RHEL 8.3 AutoDiskSelect and Driver Disks"
imgstat
imgfree
kernel http://repo/rhel/pkg/8.3/rhel-8.3-x86_64-dvd/images/pxeboot/vmlinuz initrd=initrd.img repo=http://repo.lyve.colo.seagate.com/rhel/pkg/8.3/rhel-8.3-x86_64-dvd/ ksdevice=link devfs=nomount ip=dhcp inst.text inst.sshd console=ttyS0,115200n8 ks=http://repo.lyve.colo.seagate.com/rhel/rhel8-ks-autodisk.cfg inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-mpt3sas-34.100.00.00-1.el8_3.elrepo.iso inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-mptsas-3.04.20-4.el8_3.elrepo.iso
initrd http://repo/rhel/pkg/8.3/rhel-8.3-x86_64-dvd/images/pxeboot/initrd.img
boot || goto custom_exit

:suse_15sp2
imgstat
imgfree
kernel http://repo.lyve.colo.seagate.com/suse/15.2/pkg/SLE-15-SP2-Full-x86_64-GM-Media1/boot/x86_64/loader/linux
initrd http://repo.lyve.colo.seagate.com/suse/15.2/pkg/SLE-15-SP2-Full-x86_64-GM-Media1/boot/x86_64/loader/initrd
imgargs linux initrd=initrd biosdevname=0 net.ifnames=1 namescheme=by-path sshd=1 password=root instsys=http://repo.lyve.colo.seagate.com/suse/15.2/pkg/SLE-15-SP2-Full-x86_64-GM-Media1/boot/x86_64/root textmode=1 TERM=xterm install=http://repo.lyve.colo.seagate.com/suse/15.2/pkg/SLE-15-SP2-Full-x86_64-GM-Media1/ ifcfg=*=try,dhcp console=ttyS0,115200n8 AutoYaST=http://repo.lyve.colo.seagate.com/suse/15.2/autoinst-i2u.xml
boot || goto custom_exit


:ra_ubuntu
echo "BootStrap RA Ubuntu Linux"
chain --autofree http://${boot_domain}/custom/ra_ubuntu.ipxe || goto custom

:ra_archlinux
echo "BootStrap RA Arch Linux"
chain --autofree ra_archlinux.ipxe || goto custom

:custom_exit
exit
