#!ipxe
###
### boot.lyve.colo.seagate.com custom menu example
###
#
:custom
clear ra_lab_choice
menu RHEL Options:
item --gap RA Lab iPXE Boot options
item --key 1 ra_rhel ${space} 1) RA Lab RHEL Distributions.
item --key 2 ra_ubuntu ${space} 2) RA Lab Ubuntu Distributions.
item option_two ${space} Loading an ISO
item --key 3 ra_archlinux ${space} 3) Install Arch Linux
item --key 4 suse_15sp2 ${space} 4) SuSE SLES 15 SP2
item --gap Other Options:
item option_four ${space} This is option four
choose ra_lab_choice || goto ra_lab_ext
echo ${cls}
echo "Choose ${ra_lab_choice}"
goto ${ra_lab_choice}
goto ra_lab_ext

:ra_rhel
echo "BootStrap RA Ubuntu Linux"
chain --autofree http://${boot_domain}/custom/ra_rhel.ipxe || goto custom

:ra_ubuntu
echo "BootStrap RA Ubuntu Linux"
chain --autofree http://${boot_domain}/custom/ra_ubuntu.ipxe || goto custom

:ra_archlinux
echo "BootStrap RA Arch Linux"
chain --autofree ra_archlinux.ipxe || goto custom

:suse_15sp2
imgstat
imgfree
kernel http://repo.lyve.colo.seagate.com/suse/15.2/pkg/SLE-15-SP2-Full-x86_64-GM-Media1/boot/x86_64/loader/linux
initrd http://repo.lyve.colo.seagate.com/suse/15.2/pkg/SLE-15-SP2-Full-x86_64-GM-Media1/boot/x86_64/loader/initrd
imgargs linux initrd=initrd biosdevname=0 net.ifnames=1 namescheme=by-path sshd=1 password=root instsys=http://repo.lyve.colo.seagate.com/suse/15.2/pkg/SLE-15-SP2-Full-x86_64-GM-Media1/boot/x86_64/root textmode=1 TERM=xterm install=http://repo.lyve.colo.seagate.com/suse/15.2/pkg/SLE-15-SP2-Full-x86_64-GM-Media1/ ifcfg=*=try,dhcp console=ttyS0,115200n8 AutoYaST=http://repo.lyve.colo.seagate.com/suse/15.2/autoinst-i2u.xml
boot || goto ra_lab_ext

:ra_lab_ext
exit
