#!ipxe
###
### boot.lyve.colo.seagate.com custom menu example
###
#
:custom
clear rhel_choice
menu RHEL Options:
item --gap RA Lab iPXE Boot options
item --key 1 acronis ${space} 1) Acronis
item --key 2 rhel84_autodisk ${space} 2) RHEL 8.4 via AutoDisk Select
item --key 3 rhel83_autodisk ${space} 3) RHEL 8.3 via AutoDisk Select
item --key 4 rhel83_driver_disk ${space} 4) RHEL 8.3 via AutoDisk & Driver Disks
item --key 5 rhel7_autodisk ${space} 5) RHEL 7 via AutoDisk
choose rhel_choice || goto rhel_exit
echo ${cls}
echo "Choose ${rhel_choice}"
goto ${rhel_choice}
goto rhel_exit

:acronis
echo "Bootstrapping Acronis Cyber Infrastructure 4.6"
imgstat
imgfree
kernel http://repo.lyve.colo.seagate.com/acronis/extract/images/pxeboot/vmlinuz initrd=initrd.img repo=http://repo.lyve.colo.seagate.com/acronis/extract/ devfs=nomount ip=dhcp inst.text inst.sshd console=ttyS0,115200n8 inst.ks=http://repo.lyve.colo.seagate.com/acronis/acronis-ks.cfg
initrd http://repo.lyve.colo.seagate.com/acronis/extract/images/pxeboot/initrd.img
boot || goto rhel_exit

:rhel84_autodisk
echo "Bootstrapping RHEL 8.4 AutoDiskSelect"
imgstat
imgfree
kernel http://repo.lyve.colo.seagate.com/rhel/pkg/8.4/rhel-8.4-x86_64-dvd/images/pxeboot/vmlinuz initrd=initrd.img repo=http://repo.lyve.colo.seagate.com/rhel/pkg/8.4/rhel-8.4-x86_64-dvd/ ksdevice=link devfs=nomount ip=dhcp inst.text inst.sshd console=ttyS0,115200n8 inst.ks=http://repo.lyve.colo.seagate.com/rhel/rhel8.4-ks-autodisk.cfg
initrd http://repo/rhel/pkg/8.4/rhel-8.4-x86_64-dvd/images/pxeboot/initrd.img
boot || goto rhel_exit

:rhel83_autodisk
echo "Bootstrapping RHEL 8.3 AutoDiskSelect"
imgstat
imgfree
kernel http://repo.lyve.colo.seagate.com/rhel/pkg/8.3/rhel-8.3-x86_64-dvd/images/pxeboot/vmlinuz initrd=initrd.img repo=http://repo.lyve.colo.seagate.com/rhel/pkg/8.3/rhel-8.3-x86_64-dvd/ ksdevice=link devfs=nomount ip=dhcp inst.text inst.sshd console=ttyS0,115200n8 ks=http://repo.lyve.colo.seagate.com/rhel/rhel8.3-ks-autodisk.cfg
initrd http://repo.lyve.colo.seagate.com/rhel/pkg/8.3/rhel-8.3-x86_64-dvd/images/pxeboot/initrd.img
boot || goto rhel_exit

:rhel83_driver_disk
echo "Bootstrapping RHEL 8.3 AutoDiskSelect and Driver Disks"
imgstat
imgfree
kernel http://repo.lyve.colo.seagate.com/rhel/pkg/8.3/rhel-8.3-x86_64-dvd/images/pxeboot/vmlinuz initrd=initrd.img repo=http://repo.lyve.colo.seagate.com/rhel/pkg/8.3/rhel-8.3-x86_64-dvd/ ksdevice=link devfs=nomount ip=dhcp inst.text inst.sshd console=ttyS0,115200n8 ks=http://repo.lyve.colo.seagate.com/rhel8-ks-autodisk.cfg inst.dd=http://repo.lyve.colo.seagate.com/rhel/iso/8.3/dd-mpt3sas-34.100.00.00-1.el8_3.elrepo.iso inst.dd=http://repo.lyve.colo.seagate.com/iso/8.3/dd-mptsas-3.04.20-4.el8_3.elrepo.iso
initrd http://repo/rhel/pkg/8.3/rhel-8.3-x86_64-dvd/images/pxeboot/initrd.img
boot || goto rhel_exit

:rhel7_autodisk
echo "Bootstrapping RHEL 7 AutoDiskSelect"
imgstat
imgfree
kernel http://mgmt.lyve.colo.seagate.com/repo/centos/7/os/x86_64/images/pxeboot/vmlinuz initrd=initrd.img repo=http://mgmt.lyve.colo.seagate.com/repo/centos/7/os/x86_64/ ksdevice=link devfs=nomount ip=dhcp inst.text inst.sshd console=ttyS0,115200n8 
initrd http://mgmt.lyve.colo.seagate.com/repo/centos/7/os/x86_64/images/pxeboot/initrd.img
boot || goto rhel_exit

:rhel_exit
exit
